{% extends 'base.html' %}
{% load static i18n %} 

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col col-md-10">
            <h1 class="text-center">{% translate 'Welcome to freelance exchange' %}, 
                {% if user.is_authenticated %}{{user}}{% else %}{% translate 'guest' %}{% endif %}
            </h1>
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-between">
        <div >
            <button class="btn btn-success"><a href="{% url 'users:customer-signup' %}">
                {% translate 'Register as a customer' %}</a>
            </button>
        </div>
        <div >
            <button class="btn btn-success"><a href="{% url 'users:employee-signup' %}">{% translate 'Register as an employee' %}</a>
            </button>
        </div>
    </div>    

</div>

{% endblock content %}