{% extends 'base.html' %}
{% load static i18n %} 

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col col-md-10">
            <h1 class="text-center">{% translate 'Welcome to freelance exchange' %}, 
                {% if user.is_authenticated %}{{user}}{% else %}{% translate 'guest' %}{% endif %}
            </h1>
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-between">
        <div >
            <form action="{% url 'users:customer-signup' %}" method="POST">
                {% csrf_token %}                
                <button class="btn btn-success" type="submit">
                    {% translate 'Register as a customer' %}</a>
                </button>
            </form>
        </div>
        <div >
            <form action="{% url 'users:employee-signup' %}" method="POST">
                {% csrf_token %}                
                <button class="btn btn-success" type="submit">
                    {% translate 'Register as an employee' %}</a>
                </button>
            </form>
            
        </div>
    </div>    

</div>

{% endblock content %}

{% block js %}
<script>    
    $("#cust-signup").on('click',function(e){
     e.preventDefault();
     const url = $(this).attr('action');        
     $.ajax({
        url,
        method:'POST',
        success:function(response){
            console.log("registered as a customer");
            console.log('resp',response)
        },
        error:function(err){
           console.log("smth went wrong");           
        }
    });
})
    $("#empl-signup").on('click',function(e){
     e.preventDefault();
     const url = $(this).attr('action');        
     $.ajax({
        url,
        method:'POST',
        success:function(response){
            console.log("registered as a employee");
            console.log('resp',response);
        },
        error:function(err){
           console.log("smth went wrong");           
        }
    });
})
</script> 

{% endblock %}